@import '../base-scss/mixins';
@import '../base-scss/variables';


.Quote {
  backdrop-filter: blur(6px) brightness(70%);
  box-shadow: $globalBorder;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 20px 10px;
  color: white;
  height: 30vh;
}

.quote-text {
}

.quote-author {
  display: flex;
  justify-content: flex-end;
}

.newQuoteBtn {

}