@import '../base-scss/mixins';
@import '../base-scss/variables';


.Weather {
  backdrop-filter: blur(6px) brightness(70%);
  box-shadow: $globalBorder;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  color: white;
}

.weather-icon {
  margin: 0;
  padding: 0;
  // background-color: blue;
}

.weather-temps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}