@import './mixins';
@import './variables';
@import url(https://fonts.googleapis.com/css?family=Kiwi+Maru:300,regular,500);

.App {
  font-family: 'Kiwi Maru', Arial, Helvetica, sans-serif;
}

.hero-img {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  height: 100vh;
  position: relative;
  top: 10vh;
}

.row2 {
  margin-top: 40px;
}

.newImgBtn {
  position: relative;
  top: 2vh;
  left: 2vw;
  box-shadow: $globalBorder;
}

@media (max-width: 450px) {
  .row2 {
    margin-top: 20px;
  }

  .Quote {
    margin-top: 20px;
  }

  .content {
    top: 5vh;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }
  
}